## Visual Studio / .NET
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build Folders
[Bb]in/
[Oo]bj/
build/
out/
publish/

# NuGet
*.nupkg
packages/
project.lock.json
project.assets.json
.nuget/

# Rider
.idea/

# Logs
*.log

# OS Files
.DS_Store

# Test results
TestResults/
